{% extends "base.html" %}

{% block title %}Hjem - KGK{% endblock %}

{% block content %}
<body class="bg-primary text-white min-vh-100 " style="background-color: var(--bs-primary);padding-top:50px;">
    


    <div class="container mt-5">

        <div class="px-4 py-5 my-5 text-center bg-light rounded-3 border shadow-lg" >
            <h1 class="display-5 fw-bold"><span class="text-primary">KGK</span> Tech Demo</h1>
            <div class="col-lg-6 mx-auto">
              <p class="lead mb-4">Dette er en demo som viser hvordan du enkelt kan gi instruksjoner til busser gjennom et brukervennlig grensesnitt med god brukeropplevelse.</p>
              <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a href="{{ url_for('dashboard.dashboard_home') }}" class="btn btn-primary btn-lg px-4 gap-3" role="button">Vis Dashboard</a>

               
              </div>
            </div>
          </div>


    </div>



<script>
    // Initialize all tooltips
    document.addEventListener('DOMContentLoaded', function () {
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    });
</script>
</body>
{% endblock %}
